$blanco:white;
$negro:black;
$titulos:rgb(212, 83, 83);
$celeste: rgb(193, 230, 230);
$rosa:pink;
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
header{
    background-color: $negro;
}
.parrafo1{
    color: darkblue;
    margin:  1rem;
}
.redes_footer{
    color: white;
}
.footer1{
    background-color: $negro;
    padding: 5px;
    h2{
        text-decoration: underline;
    }
    .pfooter{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .pfooter1{
            width: 100%;
            height: 100%;
        }
        .pfooter2{
            width: 100%;
            height: 100%;
        }
    }
    @media screen and (max-width:460px) {
        .pfooter{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}
.formulario1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
}
.margin{
    margin: 20px;
}
.a{
    display: block;
}
.ps5{
    max-width: 420px;
    width: 100%;
    height: auto;
}
.imgfo{
    max-width: 40px;
    max-height: 100px;
    margin: 10px;
}
.formb{
    margin: 10px;
}
.banner{
    max-width: 1660px;
    width: 100%;
    max-height: 360px;
    height: 100%;
    object-fit: cover;
}
.imgpro{
    width: 100%;
    max-height: 300px;
    height: 80%;
}
.ppro{
    color: $negro;
    font-family: 'Playfair Display', serif;
}
.marpro{
    margin: 10px;
}
.titulop{
    color: $titulos;
    padding: 10px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.mapac{
    width: 500px;
    height: 400px;
}
.nombreem{
    color: $negro;
}
.imgem{
    max-width: 450px;
    width: 100%;
    max-height: 350px;
    height: 100%;
}
.parrafoem{
    color: brown;
    font-family: 'Noto Serif', serif;
}
.parrafosu{
    font-family: 'Bebas Neue', sans-serif;
    color: $negro;
}
.mapasu{
    max-width: 300px;
    width: 100%;
    max-height: 350px;
}
.containeri{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.timg{
    color: $titulos;
    font-weight: bold;
}
.pimg{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 230px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    padding: 20px;
    font-weight: bold;
}
.pimgi{
    display: flex;
    align-items: flex-start;
    max-width: 230px;
    font-weight: bold;
}
.pimge{
    display: flex;
    align-items: flex-start;
    max-width: 230px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    padding: 20px;
    font-weight: bold;
}
.bg-body-tertiary{
    --bs-bg-opacity:none
}
.padding{
    padding: 1rem;
}
@media screen and (max-width:460px) {
    .containeri{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
.header_e{
    display: grid;
    grid-area: header_e;
}
.titulo_e{
    display: grid;
    grid-area: titulo_e;
}
.producto1_e{
    display: grid;
    grid-area: producto1_e;
}
.producto2_e{
    display: grid;
    grid-area: producto2_e;
}
.footer_e{
    display: grid;
    grid-area: footer_e;
}
.header_p{
    display: grid;
    grid-area: header_p;
}
.titulo_p{
    display: flex;
    justify-content: center;
}
.banner_p{
    display: grid;
    grid-area: banner_p;
    width: 100%;
}
.section_p{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.productop_e{
    display: grid;
    grid-area: producto1_p;
}
.producto2_p{
    display: grid;
    grid-area: producto2_p;
    padding: 5px;
}
.producto3_p{
    display: grid;
    grid-area: producto3_p;
}
.footer_p{
    display: grid;
    grid-area: footer_p;
}
.producto3_p{
    max-width: 400px;
    width: 100%;
    max-height: 300px;
    height: 100%;
}
@media screen and (max-width:460px) {
    .containerp{
        display: flex;
        flex-wrap: wrap;
        .header_p{
            width: 100%;
        }
        .banner_p{
            max-width: 500px;
            width: 100%;
        }
        .banner{
            max-width: 460px;
            width: 100%;
        }
        .footer_p{
            max-width: 460px;
            width: 100%;
        }
        .titulop{
            max-width:460px;
            width: 90%;
            text-align: center;
        }
    }
    .containeri{
        max-width:460px;
        width: 100%;
        .producto3_p{
            max-width: 400px;
            width: 100%;
            max-height: 400px;
            height: 100%;
        }
    }
}
.header_s{
    max-width: 1800px;
    width: 100%;
}
.mapa_con{
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
}
.sectionc{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    margin: 15px;
}
.divc{
    display: flex;
    align-items: center;
    padding: 10px;
}
.imgc{
    align-items: center;
    max-width: 80px;
    width: 100%;
    max-height: 80px;
    width: 100%;
}
.divf{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.navbar{
    a{
        color: $blanco
    }
    a:hover{
        background-color: $blanco;
        color: $negro;
        border-radius: 5px;
    }
}
.navbar-nav{
    a{
        color: $blanco;
    }
}
body{
    background-color: rgb(228, 207, 207);
}
.producto1_p{
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
}
.parrafo_index{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:460px) {
    .containeri{
        display: grid;
        grid-template-columns: 1fr;
        .parrafo_index{
            display: flex;
            flex-direction: column;
        }
    }
}
.preciop{
    max-width: 200px;
    padding: 1rem;
    color: $negro;
    font-weight: bold;
}
.botonp{
    max-width: 200px;
    margin: 1rem;
    border: none;
    background-color: rgb(19, 19, 92);
    color: $blanco;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
@media screen and (max-width:460px) {
    .section_p{
        display: grid;
        grid-template-columns: 1fr;
        .producto1_p{
            width: 200px;
            margin-left: 50px;
        }
    }
}
.tituloe{
    color: $titulos;
    padding: 10px;
    text-decoration:underline;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.titulos{
    color: $titulos;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.pimgs{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    max-width: 800px;
}
.mapasd{
    justify-content: flex-end;
    background-color: $celeste;
}
.mapasi{
    justify-content: flex-start;
    background-color: $rosa;
}
.mapa_s{
    display: flex;
    margin: 20px 20px;
}
.botons{
    max-width: 200px;
    margin: 1rem;
    border: none;
    background-color: rgb(19, 19, 92);
    color: $blanco;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.containerp{
    background-color: rgb(228, 207, 207);
}
@media screen and (max-width:460px) {
    .mapa_s{
        display: flex;
        flex-direction: column;
    }
    .parrafosu{
        font-size: 15px;
    }
    .mapasu{
        padding: 1rem;
    }
}
.tituloms{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding: 1rem;
}
.formc{
    padding: 1rem;
    width: 100%;
    background-color: $celeste;
}
.itemsform{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.redes_c{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(167, 167, 167);
}
.generoc{
    padding: 5px;
    display: flex;
    justify-content: center;
}
.botonesformc{
    display: flex;
    justify-content: center;
}