@import 'variables';
@import 'data';
@import 'media-queries';
.redes_footer{
    color: white;
}
.footer1{
    background-color: $negro;
    padding: 5px;
    h2{
        text-decoration: underline;
    }
    .pfooter{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .pfooter1{
            width: 100%;
            height: 100%;
        }
        .pfooter2{
            width: 100%;
            height: 100%;
        }
    }
    @include mobile {
        .pfooter{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}
.formulario1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
}
.margin{
    margin: 20px;
}
.a{
    display: block;
}
.ps5{
    width: 100%;
    max-height: 600px;
}
.imgfo{
    max-width: 40px;
    max-height: 100px;
    margin: 10px;
}
.formb{
    margin: 10px;
}
.banner{
    width: 100%;
    max-height: 360px;
    height: 100%;
    object-fit: cover;
}
.imgpro{
    width: 100%;
    max-height: 285px;
    height: 80%;
}
.ppro{
    color: $negro;
}
.marpro{
    margin: 10px;
}
.titulop{
    display: flex;
    justify-content: center;
    color: $titulos;
    padding: 10px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.mapac{
    width: 500px;
    height: 400px;
}
.nombreem{
    color: $titulos;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.imgem{
    max-width: 450px;
    width: 100%;
    max-height: 300px;
}
.producto_e{
    background-color: $celeste;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parrafosu{
    font-family: 'Lato', sans-serif;
    color: $negro;
}
.mapasu{
    max-width: 300px;
    width: 100%;
    max-height: 300px;
}
.conti{
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    gap: 2rem;
    .containeri{
        display: flex;
        justify-content: center;
        .btni{
            display: flex;
            justify-content: center;
            font-size: 30px;
            .btnindex{
                background-color: $btn;
                color: $blanco;
                border-radius: 10px;
            }
        }
    }
}
.timg{
    color: $titulos;
    font-weight: bold;
}
.timgi{
    color: $titulos;
    font-weight: bold;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.pimg{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 230px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    padding: 10px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.info_index{
    background-color: $gris;
}
.pimgi{
    display: flex;
    align-items: flex-start;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}
.pimge{
    display: flex;
    padding: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}
.bg-body-tertiary{
    --bs-bg-opacity:none
}
.padding{
    padding: 1rem;
}
@include mobile {
    .conti {
        display: grid;
        grid-template-columns: 1fr;
        .ps5{
            border-radius: 20px;
        }
        .pimgi{
            font-size: 18px;
        }
    }
}
.titulo_e{
    text-align: center;
}
.section_p{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    gap: 3rem;
    justify-items: center;
}
.productop_e{
    display: grid;
    grid-area: producto1_p;
}
.producto2_p{
    display: grid;
    grid-area: producto2_p;
    padding: 5px;
}
.producto3_p{
    display: grid;
    grid-area: producto3_p;
}
.footer_p{
    display: grid;
    grid-area: footer_p;
}
.producto3_p{
    max-width: 400px;
    width: 100%;
    max-height: 300px;
    height: 100%;
}
.main_s{
    max-width: 1440px;
    margin: 0 auto;
}
@include mobile {
    .containerp{
        display: flex;
        flex-wrap: wrap;
        .header_p{
            width: 100%;
        }
        .banner_p{
            max-width: 500px;
            width: 100%;
        }
        .banner{
            max-width: 460px;
            width: 100%;
        }
        .footer_p{
            max-width: 460px;
            width: 100%;
        }
        .titulop{
            max-width:460px;
            width: 90%;
            text-align: center;
        }
    }
    .containeri{
        max-width:460px;
        width: 100%;
        .producto3_p{
            max-width: 400px;
            width: 100%;
            max-height: 400px;
            height: 100%;
        }
    }
}
.mapa_con{
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
}
.sectionc{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    margin: 15px;
    max-width: 1400px;
    margin: 3rem auto;
}
.divc{
    display: flex;
    align-items: center;
    padding: 10px;
}
.divp{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    font-size: 25px;
}
.imgc{
    align-items: center;
    max-width: 80px;
    width: 100%;
    max-height: 80px;
    width: 100%;
}
.divf{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.navbar{
    a{
        color: $blanco
    }
    a:hover{
        background-color: $blanco;
        color: $negro;
        border-radius: 5px;
    }
}
.navbar-nav{
    a{
        color: $blanco;
    }
}
body{
    background-color: $blanco;
}
.producto1_p{
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
}
.parrafo_index{
    display: flex;
    flex-direction: row;
}
@include mobile {
    .containeri{
        display: grid;
        grid-template-columns: 1fr;
        .parrafo_index{
            display: flex;
            flex-direction: column;
        }
    }
}
.preciop{
    max-width: 200px;
    padding: 1rem;
    color: #06064d;
    font-weight: bold;
}
.botonp{
    max-width: 200px;
    margin: 1rem;
    border: none;
    background-color: rgb(19, 19, 92);
    color: $blanco;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
@include mobile {
    .section_p{
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
        .producto1_p{
            width: 200px;
        }
    }
}
.tituloe{
    color: $titulos;
    padding: 10px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.container_e{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto;
}
@include mobile {
    .container_e{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 300px;
    }
}
.titulos{
    color: $titulos;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}
.pimgs{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    max-width: 800px;
}
.mapasd{
    justify-content: flex-end;
}
.mapasi{
    justify-content: flex-start;
}
.textos_si{
    background-color: $celeste;
}
.textos_sd{
    background-color: $gris;
}
.mapa_s{
    display: flex;
    margin: 20px 20px;
    border-radius: 30px;
}
.botons{
    max-width: 200px;
    margin: 1rem;
    border: none;
    background-color: rgb(19, 19, 92);
    color: $blanco;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
@include mobile {
    .mapa_s{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mapasd{
        background-color: $celeste2;
    }
    .mapasi{
        background-color: $celeste;
    }
    .parrafosu{
        font-size: 15px;
    }
    .mapasu{
        padding: 1rem;
    }
}
.tituloms{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding: 1rem;
}
.formc{
    padding: 1rem;
    width: 100%;
    background-color: $celeste;
    border-radius: 30px;
}
.itemsform{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.redes_c{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: $gris;
    border-radius: 30px;
    max-width: 300px;
}
.botonesformc{
    display: flex;
    justify-content: center;
}
@include mobile {
    .sectionc{
        display: grid;
        grid-template-columns: 1fr;
    }
    .formc{
        max-width: 300px;
    }
    .main_c{
        display: flex;
    }
}
.btnc{
    max-width: 200px;
    margin: 1rem;
    border: none;
    background-color: #13135c;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.letrasc{
    font-family: 'Noto Sans JP', sans-serif;
}
.letrasci{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}
.p_c{
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    color: $titulos;
    text-decoration: underline;
}