* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

header {
  background-color: black; }

.redes_footer {
  color: white; }

.footer1 {
  background-color: black;
  padding: 5px; }
  .footer1 h2 {
    text-decoration: underline; }
  .footer1 .pfooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .footer1 .pfooter .pfooter1 {
      width: 100%;
      height: 100%; }
    .footer1 .pfooter .pfooter2 {
      width: 100%;
      height: 100%; }
  @media screen and (max-width: 460px) {
    .footer1 .pfooter {
      display: grid;
      grid-template-columns: 1fr; } }

.formulario1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: blueviolet; }

.margin {
  margin: 20px; }

.a {
  display: block; }

.ps5 {
  width: 100%;
  height: 100%; }

.imgfo {
  max-width: 40px;
  max-height: 100px;
  margin: 10px; }

.formb {
  margin: 10px; }

.banner {
  max-width: 1660px;
  width: 100%;
  max-height: 360px;
  height: 100%;
  object-fit: cover; }

.imgpro {
  width: 100%;
  max-height: 300px;
  height: 80%; }

.ppro {
  color: black;
  font-family: 'Playfair Display', serif; }

.marpro {
  margin: 10px; }

.titulop {
  color: #d45353;
  padding: 10px;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif; }

.mapac {
  width: 500px;
  height: 400px; }

.nombreem {
  color: black; }

.imgem {
  max-width: 450px;
  width: 100%;
  max-height: 350px;
  height: 100%; }

.parrafoem {
  color: brown;
  font-family: 'Noto Serif', serif; }

.parrafosu {
  font-family: 'Bebas Neue', sans-serif;
  color: black; }

.mapasu {
  max-width: 300px;
  width: 100%;
  max-height: 350px; }

.conti {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  gap: 2rem; }
  .conti .containeri {
    display: flex; }
    .conti .containeri .btni {
      display: flex;
      justify-content: center; }
      .conti .containeri .btni .btnindex {
        background-color: #5f5fd1;
        color: white;
        border-radius: 10px; }

.timg {
  color: #d45353;
  font-weight: bold; }

.timgi {
  color: #d45353;
  font-weight: bold;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif; }

.pimg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 230px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding: 20px;
  font-weight: bold; }

.info_index {
  background-color: #a7a7a7; }

.pimgi {
  display: flex;
  align-items: flex-start;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 24px;
  font-weight: bold; }

.pimge {
  display: flex;
  align-items: flex-start;
  max-width: 230px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  padding: 20px;
  font-weight: bold; }

.bg-body-tertiary {
  --bs-bg-opacity:none
; }

.padding {
  padding: 1rem; }

@media screen and (max-width: 460px) {
  .conti {
    display: grid;
    grid-template-columns: 1fr; }
    .conti .ps5 {
      border-radius: 20px; } }

.header_e {
  display: grid;
  grid-area: header_e; }

.titulo_e {
  display: grid;
  grid-area: titulo_e; }

.producto1_e {
  display: grid;
  grid-area: producto1_e; }

.producto2_e {
  display: grid;
  grid-area: producto2_e; }

.footer_e {
  display: grid;
  grid-area: footer_e; }

.header_p {
  display: grid;
  grid-area: header_p; }

.titulo_p {
  display: flex;
  justify-content: center; }

.banner_p {
  display: grid;
  grid-area: banner_p;
  width: 100%; }

.section_p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem; }

.productop_e {
  display: grid;
  grid-area: producto1_p; }

.producto2_p {
  display: grid;
  grid-area: producto2_p;
  padding: 5px; }

.producto3_p {
  display: grid;
  grid-area: producto3_p; }

.footer_p {
  display: grid;
  grid-area: footer_p; }

.producto3_p {
  max-width: 400px;
  width: 100%;
  max-height: 300px;
  height: 100%; }

@media screen and (max-width: 460px) {
  .containerp {
    display: flex;
    flex-wrap: wrap; }
    .containerp .header_p {
      width: 100%; }
    .containerp .banner_p {
      max-width: 500px;
      width: 100%; }
    .containerp .banner {
      max-width: 460px;
      width: 100%; }
    .containerp .footer_p {
      max-width: 460px;
      width: 100%; }
    .containerp .titulop {
      max-width: 460px;
      width: 90%;
      text-align: center; }
  .containeri {
    max-width: 460px;
    width: 100%; }
    .containeri .producto3_p {
      max-width: 400px;
      width: 100%;
      max-height: 400px;
      height: 100%; } }

.header_s {
  max-width: 1800px;
  width: 100%; }

.mapa_con {
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  height: 100%; }

.sectionc {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1rem;
  margin: 15px; }

.divc {
  display: flex;
  align-items: center;
  padding: 10px; }

.imgc {
  align-items: center;
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  width: 100%; }

.divf {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.navbar a {
  color: white; }

.navbar a:hover {
  background-color: white;
  color: black;
  border-radius: 5px; }

.navbar-nav a {
  color: white; }

body {
  background-color: #e4cfcf; }

.producto1_p {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  align-items: center; }

.parrafo_index {
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 460px) {
  .containeri {
    display: grid;
    grid-template-columns: 1fr; }
    .containeri .parrafo_index {
      display: flex;
      flex-direction: column; } }

.preciop {
  max-width: 200px;
  padding: 1rem;
  color: black;
  font-weight: bold; }

.botonp {
  max-width: 200px;
  margin: 1rem;
  border: none;
  background-color: #13135c;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px; }

@media screen and (max-width: 460px) {
  .section_p {
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section_p .producto1_p {
      width: 200px; } }

.tituloe {
  color: #d45353;
  padding: 10px;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif; }

.titulos {
  color: #d45353;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif; }

.pimgs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  max-width: 800px; }

.mapasd {
  justify-content: flex-end;
  background-color: #c1e6e6; }

.mapasi {
  justify-content: flex-start;
  background-color: pink; }

.mapa_s {
  display: flex;
  margin: 20px 20px;
  border-radius: 30px; }

.botons {
  max-width: 200px;
  margin: 1rem;
  border: none;
  background-color: #13135c;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px; }

.containerp {
  background-color: #e4cfcf; }

@media screen and (max-width: 460px) {
  .mapa_s {
    display: flex;
    flex-direction: column; }
  .parrafosu {
    font-size: 15px; }
  .mapasu {
    padding: 1rem; } }

.tituloms {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  padding: 1rem; }

.formc {
  padding: 1rem;
  width: 100%;
  background-color: #c1e6e6;
  border-radius: 30px; }

.itemsform {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.redes_c {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #a7a7a7;
  border-radius: 30px; }

.botonesformc {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 460px) {
  .sectionc {
    display: grid;
    grid-template-columns: 1fr; } }

.btnc {
  border-radius: 10px;
  background-color: #5f5fd1;
  color: white;
  font-size: 18px; }

.letrasc {
  font-family: 'Noto Sans JP', sans-serif; }

.letrasci {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px; }
